<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="WebApp_ID" version="6.0">
    <display-name>Calculator</display-name>
    <welcome-file-list>
        <welcome-file>calculator.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>OperationServlet</servlet-name>
        <servlet-class>com.ead.OperationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OperationServlet</servlet-name>
        <url-pattern>/OperationServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdditionServlet</servlet-name>
        <servlet-class>com.ead.AdditionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdditionServlet</servlet-name>
        <url-pattern>/addservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubtractionServlet</servlet-name>
        <servlet-class>com.ead.SubtractionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubtractionServlet</servlet-name>
        <url-pattern>/subtractservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MultiplicationServlet</servlet-name>
        <servlet-class>com.ead.MultiplicationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MultiplicationServlet</servlet-name>
        <url-pattern>/multiplyservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DivisionServlet</servlet-name>
        <servlet-class>com.ead.DivisionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DivisionServlet</servlet-name>
        <url-pattern>/divideservlet</url-pattern>
    </servlet-mapping>
</web-app>