<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="dbConnectionManager" class="com.ead.lab.DBConnectionManager" />

    <bean id="bookRegistrationServlet" class="com.ead.lab.BookRegistrationServlet">
        <constructor-arg name="db" ref="dbConnectionManager"></constructor-arg>
    </bean>

    <bean id="displayBooksServlet" class="com.ead.lab.DisplayBooksServlet">
        <constructor-arg name="db" ref="dbConnectionManager"></constructor-arg>
    </bean>

    <bean id="deleteBookServlet" class="com.ead.lab.DeleteBookServlet">
        <constructor-arg name="db" ref="dbConnectionManager"></constructor-arg>
    </bean>

    <bean id="searchBooksServlet" class="com.ead.lab.SearchBooksServlet">
        <constructor-arg name="db" ref="dbConnectionManager"></constructor-arg>
    </bean>

    <bean id="logging" class="com.ead.lab.LoggingAspect"></bean>

    <context:annotation-config />
    <context:component-scan base-package="com.ead.lab.aspect" />
    <aop:aspectj-autoproxy />
</beans>